@import "./theme";

@function theme($key, $value) {
  @return map-get($key, $value);
}

%base-grid {
  display: grid;
  width: vw(100);
  max-width: 100%;
  grid-template-columns: repeat(theme($desktop, "columns"), 1fr);
  grid-template-rows: 1fr;
  column-gap: theme($desktop, "gap");
  padding: 0 theme($desktop, "gutter");
  margin: 0 auto;
  box-sizing: border-box;

  @include media("<phone") {
    grid-template-columns: repeat(theme($mobile, "columns"), 1fr);
    grid-template-rows: 1fr;
    column-gap: theme($mobile, "gap");
    padding-right: theme($mobile, "gutter");
  }

  @include media("<desktop") {
    width: theme($max, "width");
  }
}
