@import '../../styles/utils/variables';

.Header {
  @extend %base-grid;

  height: 110px;
  border-bottom: 1px solid theme($colors, 'silver');
  margin-bottom: theme($desktop, 'margins');

  .brandContainer {
    grid-column: 1 / 5;
    display: grid;
    align-items: center;

    .brand {
      transform: rotate(0);
      transition: transform 100ms ease-out;
      cursor: pointer;

      &:hover {
        transform: rotate(180deg);
      }
    }
  }

  .navList {
    grid-column: -14 / -1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .navItem {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: -1px;
    border-bottom: 1px solid theme($colors, 'silver');
    border-right: 1px solid theme($colors, 'silver');
    cursor: pointer;

    &:first-child {
      border-left: 1px solid theme($colors, 'silver');
    }

    &.profile {
      grid-column: span 2 / span 2;
      justify-content: flex-end;
    }

    &:hover {
      border-bottom: 1px solid theme($colors, 'cod');
    }

    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   right: -1px;
    //   bottom: -1px;
    //   left: -1px;
    //   background-color: red;
    //   transform-origin: bottom;
    //   transform: scaleX(1) scaleY(1);
    //   transition: all 150ms ease-in-out;
    // }
  }

  .itemContainer {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 theme($spacings, 60);

    .text {
      @extend %text-inter-14;
      font-weight: theme($fontWeights, 'normal');
    }

    .number {
      content: '';
      @extend %text-inter-12;
      font-weight: theme($fontWeights, 'regular');
      color: theme($colors, 'cod');
      position: absolute;
      bottom: 6px;
      left: 8px;
      padding: 5px 10px;
    }
  }

  .name {
    font-weight: theme($fontWeights, 'semibold');
  }
}
