@import '../../../styles/utils/variables';

.Filters {
  @extend %base-grid;
  margin-top: theme($mobile, 'margins');
  margin-bottom: theme($spacings, 10);

  @include from('md') {
    margin-top: theme($desktop, 'margins');
    margin-bottom: theme($spacings, 40);
  }

  .result {
    grid-column: span 2;

    @include from('md') {
      grid-column: 1 / 5;
    }

    .resultText {
      @extend %text-inter-24;
      font-weight: theme($fontWeights, 'semibold');
      color: theme($colors, 'cod');

      @include from('md') {
        font-size: theme($spacings, 35);
        grid-column: 1 / 5;
      }
    }
  }

  .filter {
    grid-column: -4 / -1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: theme($mobile, 'gap');

    @include from('md') {
      grid-column: -15 / -1;
      gap: theme($desktop, 'gap');
    }
  }

  .filterTitle {
    display: none;

    @include from('md') {
      display: inline-block;
    }
  }

  .line {
    display: none;
    width: 200px;
    height: 1px;
    background-color: theme($colors, 'silver');
    margin-left: theme($desktop, 'gap');

    @include from('md') {
      display: block;
    }
  }

  .filterList {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .filterItem {
      margin-left: theme($desktop, 'gap');
      cursor: pointer;
    }
  }

  .text {
    @extend %text-inter-12;
    font-weight: theme($fontWeights, 'regular');
    color: theme($colors, 'gray');

    &.filterText:hover {
      color: theme($colors, 'cod');
    }
  }
}
