@import '../../../styles/utils/variables';

.EditoCardFav {
  margin-bottom: theme($spacings, 10);

  .wrapper {
    @extend %base-grid;
    position: relative;
    display: grid;
    align-items: center;
    cursor: pointer;

    &:hover {
      .text,
      .icon path {
        color: theme($colors, 'cod');
      }
    }
  }

  .titleContainer {
    grid-column: 1 / 12;
    grid-row: 1;
    display: flex;
    align-items: center;

    .icon path {
      color: theme($colors, 'gray');
    }

    .title {
      font-weight: theme($fontWeights, 'bold');
    }
  }

  .text {
    @extend %text-inter-24;
    font-weight: theme($fontWeights, 'regular');
    color: theme($colors, 'gray');
    margin-left: theme($spacings, 8);
    text-transform: uppercase;
  }

  .infoContainer {
    grid-column: 12 / 18;
    display: flex;
    align-items: center;
  }

  .imageContainer {
    grid-column: span 4 / -1;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 200px;
    max-width: 100%;
    height: 200px;

    .image {
      width: 100%;
      height: 100%;
    }

    // .imagePlaceholder {
    //   background-color: gray;
    // }

    .withoutImage {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border: 1px solid theme($colors, 'silver');
      background-color: theme($colors, 'sheashell');
    }

    .imageText {
      @extend %text-inter-12;
      font-weight: theme($fontWeights, 'regular');
      color: theme($colors, 'gray');
      margin-left: theme($spacings, 8);
      margin-top: theme($spacings, 5);
      text-transform: uppercase;
    }
  }
}
